body {
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  font-family: "Urbanist", sans-serif;
  height: 1000px;
}
.app {
  background-color: rgba(255, 255, 255, 0.4);
  max-width: 600px;
  margin: 0 auto;
  margin-top: 80px;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.8);
  border-radius: 10px;
}

.app:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 200ms ease-in-out;
}

header {
  border-bottom: 0;
  margin-top: 20px;
  margin-left: 5%;
}
.search-form-input {
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 5px;
  width: 80%;
  padding: 10px;
  font-size: 12px;
  color: #292c2e;
  letter-spacing: 0.5px;
  font-family: "Urbanist", serif;
}

.search-form-button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 90px;
  font-size: 12px;
  margin-left: 5px;
  background-image: linear-gradient(
    to right,
    #ca4ca8 0%,
    #928dab 51%,
    #7658a3 100%
  );
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 10px #eee;
  display: inline;

  font-family: "Urbanist", serif;
  letter-spacing: 0.5px;
}

.search-form-button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
}
.weather-app-city {
  margin: 0, 0, 20, 0;
  font-size: 55px;
  font-family: "Urbanist", serif;
  line-height: 44px;
  font-weight: 350;
  color: #292c2e;
  letter-spacing: 2px;
}
.weather-app-details {
  font-size: 16px;
  line-height: 20px;
  color: #292c2e;
  font-weight: 100;
  letter-spacing: 0.5px;
}

.weather-app-details strong {
  color: #ca4ba8;
  font-size: 18px;
  line-height: 25px;
}

.weather-app-temperature-container {
  margin: 0 auto;
  background-color: blue;
}

.weather-app-temperature {
  font-size: 110px;
  font-weight: 150;
  color: #292c2e;
  font-family: "Urbanist", serif;
}
.weather-app-icon {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  width: 120px;
}

.weather-app-unit {
  font-size: 20px;
  margin-top: 20px;
  font-family: "Comfortaa", sans-serif;
  margin-top: 40px;
  padding: 2px;
}
main {
  padding: 30px;
}

footer {
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 10px;
  color: #525353;
  border-top: 0.5px solid rgba(255, 255, 255, 0.4);
}
